@import "var";
.navbar {
	padding: 5px;
	background: $white;
	border: none;
	border-radius: 0;
	margin: 0;
	border-bottom: 1px solid rgba(230,230,230,0.7);
	.navbar-brand {
		padding: 7px 15px;
		height: 60px;
		color: transparentize($black, .4);
		.logo-holder {
			background: $brand;
			height: 46px;
			width: 46px;
			border-radius: 4px;
			margin-right: 10px;
			display: inline-block;
			padding: 4px;
		}
	}
	.navbar-nav {
		li {
			a {
				color: transparentize($black, .4);
				font-size: 1.2rem;
				font-weight: 500;
				letter-spacing: .04em;
				text-transform: uppercase;
				line-height: 30px;
				&:hover,
				&:active,
				&:focus {
					text-decoration: underline;
					color: transparentize($black, .4);
					background: none;
				}
			}
			&.open {
				a,
				a:hover {
					background: none;
				}
			}
			&.active {
				a {
					color: $teal;
				}
			}
			&.btn-wrapper {
				.btn {
					padding: 8px 14px;
					line-height: 1.5;
					margin: 12px 0;
					&.btn-default {
						color: transparentize($black, .4);
						border-color: #DDD;
						&:hover {
							background-color: #F3F3F3;
							border-color: rgba(98,98,98,0.27);
							color: #1a1a1a;
							text-decoration: none;
						}
					}
					&.btn-teal {
						color: $white;
						background-color: $teal;
						border-color: $teal;
						&:hover {
							background-color: $teal-light;
							border-color: $teal-light;
							text-decoration: none;
						}
						&:active {
							background-color: $teal-dark;
							border-color: $teal-dark;
						}
					}
				}
				+.btn-wrapper {
					margin-left: 12px;
				}
			}
		}
	}
}
.dropdown-menu {
	border: none;
	padding: 0 0 10px;
	&.downloads {
		min-width: 400px;
		.title {
			padding: 20px;
			font-size: 1.8rem;
			font-weight: 200;
		}
		a {
			background: url("/img/app-icons@2x.png") no-repeat left top / 347px !important;
			height: 50px;
		    margin: 10px 20px;
		    width: 174px;
		    &.iphone {
		    	background-position: top right;
		    }
		}
	}
}